.list {
    width: 100%;
}

.news {
    display: flex;
    width: 94%;
    height: 15%;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin: 1% 0 0 3%;
}

.content {
    width: 15%;
    border-right: 1px solid;
    margin-right: 1%;
}

.news a {
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin-right: 10px;
}

.content:hover {
    transition: all 400ms ease-in-out;
    text-shadow: blue 1px 0 25px;
}

.post_info {
    width: 30%;
    align-items: flex-end;
}

.post_info a {
    font-size: 20px;
}