.blog_detail {
    display: flex;
    padding: 1%;
    flex-direction: row;
}

img {
    width: 40%;
    margin-bottom: 2%;
    border-radius: 20px;
}

.content {
    width: 70%;
    display: flex;
    font-size: 25;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 0 2%;
    border-right: 1px solid;
    align-self: flex-start;
    position: sticky;
    top: 8%;
}

.post_info {
    width: 100%;
    font-size: 30;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.comments {
    display: flex;
    padding: 1%;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.no_comments {
    color: black;
    font-size: 40px;
}

.comment {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.arrow {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 8%;
}
