{% extends 'news/layout.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'news/css/blog_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="blog_detail">
        <a class="arrow btn btn-light" href="{% url 'news:blog_detail' pk=news.id %}?post=prev"><i class="fa fa-angle-left"></i></a>
            <div class="content">
                <img src="{{ news.image.url }}">
                <div class="post_text"><a>{{ news.content | linebreaks }}</a></div>
                <div class="post_info">
                    <a>by {{ news.author }}</a>
                    <a>{{ news.date_published }}</a>
                </div>
            </div>
        <div class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <a style="font-size: 30"><img src="{% static 'news/img/user.png' %}"
                        style ="width: 40px; margin-right: 10px">
                            {{ comment.author }}</a>
                        <a>{{ comment.text }}</a>
                        <a style="align-self: flex-end">{{ comment.date_published }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <a class="no_comments">Комментариев пока нет</a>
            {% endif %}
        </div>
        <a class="arrow btn btn-light" href="{% url 'news:blog_detail' pk=news.id %}?post=next"><i class="fa fa-angle-right"></i></a>
    </div>
{% endblock %}